<div ng-class="{'solo-view' : !isModal}">
    <section class="app-panel">
        <md-toolbar class="md-toolbar-tools">
            <h2 flex md-truncate>{{title}}</h2>
            <md-button class="md-icon-button close-dialog" aria-label="Close dialog" ng-if="isModal" ng-click="cancel()"></md-button>
        </md-toolbar>
        <md-content layout-padding>
            <form name="editUserForm">
                <div layout="column">
                    <md-input-container>
                        <label>E-mail</label>
                        <input  ng-if="me.isAdmin()" type="email" ng-model="user.email" required existing-emails="existingEmails">
                        <span ng-if="!me.isAdmin()"><br />{{user.email}}</span>
                    </md-input-container>
                    <div layout="row" layout-xs="column">
                        <md-input-container flex>
                            <label>First name</label>
                            <input type="text" ng-model="user.fname" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last name</label>
                            <input type="text" ng-model="user.sname" required>
                        </md-input-container>
                    </div>
                    <md-checkbox ng-show="isModal" ng-model="isAdmin"> Administrator</md-checkbox>
                    <md-checkbox ng-show="user._id" ng-model="resetPassword">Reset Password</md-checkbox>
                    <password-confirm user="user" ng-if="resetPassword"></password-confirm>
                    <div layout="row" layout-align="end end">
                        <md-button ng-if="isModal" ng-click="cancel()">Cancel</md-button>
                        <md-button class="md-primary" ng-click="ok()" ng-disabled="editUserForm.$invalid">OK</md-button>
                    </div>
                </div>

                <div ng-messages="editUserForm.$error" md-colors="{color: 'default-warn'}">
                    <p ng-message="password">Password must be at least 8 characters long and contain at least one character from all four character classes; upper, lower, numeric and symbols.</p>
                    <p ng-message="confirm">Password and password confirmation do not match.</p>
                    <p ng-message="existingEmails">There is already a user with the e-mail address {{editUserForm.$error.existingEmails[0].$viewValue}}</p>
                    <p ng-message="required">You must enter all required fields.</p>
                </div>
            </form>
        </md-content>
    </section>
</div>
