<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.secret" password-validate="user" password-validate-key="password">
</div>
<div class="form-group">
    <label for="passwordConfirm">Password confirm</label>
    <input type="password" class="form-control" id="passwordConfirm" placeholder="Password" ng-model="user.$$secret" password-validate="user" password-validate-key="confirm">
</div>